<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CulturNary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @await Component.InvokeAsync("Theme")

    <link rel="stylesheet" href="~/CulturNary.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/media/Logo.png" width="40" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="navigation-menu" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPlanners" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tools and Planners
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownPlanners">
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Home" asp-action="Collections">Collections</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Home" asp-action="GroceryList">Grocery List</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Home" asp-action="MealPlanner">Meal Planner</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Home" asp-action="Tools">Cooking Utilities</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Home" asp-action="Video">Cooking Videos</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Home" asp-action="Restaurants">Your Restaurants</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="Recommendations" asp-action="Favorite">Favorite Recipes</a>
                                    <a class="dropdown-item dropdown-item-green" asp-area="" asp-controller="ImageRecognition" asp-action="ImageRecognition">Image Recogition</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown unique-dropdown">
                                <a class="nav-link dropdown-toggle unique-dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Socials
                                </a>
                                <div class="dropdown-menu unique-dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item unique-dropdown-item dropdown-item-green" asp-area="" asp-controller="SocialMedia" asp-action="Friends">Find Friends</a>
                                    <a class="dropdown-item unique-dropdown-item dropdown-item-green" asp-area="" asp-controller="SocialMedia" asp-action="FriendsList">Friends</a>
                                    <a class="dropdown-item unique-dropdown-item dropdown-item-green" asp-area="" asp-controller="SocialMedia" asp-action="Messaging">Messaging</a>
                                    <!-- Add more social links here -->
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="News">Food & Nutrition News</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                    <ul class="nav justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="RecipeSearchEngine"><img src="/media/icons8-search-50.png" width="20" /></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <div class="row">
                <form method="post" action="/Home/SwitchTheme" id="themeForm">
                    <div class="form-group">
                        <label for="isDark">Theme</label>
                        <select class="form-control-small " name="isDark" id="isDark" onchange="document.getElementById('themeForm').submit();">
                            <option value="" selected></option>
                            <option value="true">Dark Mode</option>
                            <option value="false">Light Mode</option>
                        </select>
                    </div>
                </form>
                <div class="col-sm text-end">
                    &copy; 2024 - CulturNary
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/NavItemsOnClick.js"></script>
    <script src="~/js/Index.js"></script>
    <script src="~/js/Collections.js"></script>
    <script src="~/js/Groceries.js"></script>
    <script src="~/js/Video.js"></script>
    <script src="~/js/Restaurants.js"></script>
    @*     <script src="~/js/MealPlannerObfuscator.js"></script> *@
    <script src="~/js/MealPlanner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>
</body>
</html>