/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer-style {
    padding-top: 20px;
    background-color: #2d3528;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
}

nav {
    background-color: #353F2D;
}

.resources a {
    font-size: 23px !important;
}

.contact-us button {
    background-color: #78A158;
    border: none;
}

    .contact-us button:hover {
        background-color: #6e8b58;
        border: 1px solid #99c676;
    }

.bi-list {
    color: #DCEDCF;
    width: 30px !important;
    height: 30px !important;
}