@using Microsoft.AspNetCore.Identity
@using CulturNary.Web.Areas.Identity.Data
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var displayName = User.Identity?.Name;
    if (user.DisplayName != "")
    {
        displayName = user.DisplayName;
    }
}


<ul class="nav justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-area="Identity" asp-page="/Account/Manage/Profile" title="Manage">Hello @displayName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-area="Identity" asp-page="/Search/SearchEngines"><img src="/media//icons8-search-50.png" width="20" /></a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>













@* <ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" style="color: #407A3B;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" style="color: #DCEDCF;" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" style="color: #DCEDCF;" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
 *@