@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="registration-section">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center text-center justify-content-center registration-message">
            <h2 style="color: white;">Forgot your password?</h2>
        </div>
        <div class="col-md-6 align-items-center text-center justify-content-center mt-5">
            <h4>Enter your email.</h4   >
            <form method="post" class="text-center">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #407A3B">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
