@{
    ViewData["Title"] = "Home Page";
}

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>

    .aboutbody{
        background-color: #353F2D;
    }

    .carousel-item {
        background-color: #353F2D;
        color: #DCEDCF;
        text-align: center;
    }

    .carousel-indicators li {
        background-color: #DCEDCF;
    }

    .carousel-indicators .active {
        background-color: #747474;
    }


</style>

</head>
<body class="aboutbody">
    <br>

<div id="textCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="false">
  <!-- Indicators/dots -->
  <ol class="carousel-indicators">
    <li data-target="#textCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#textCarousel" data-slide-to="1"></li>
    <li data-target="#textCarousel" data-slide-to="2"></li>
  </ol>

<div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center" style="min-height: 770px;">
        <div>
          <h1>About Boug Inc</h1>
          <p>Boug Inc was created in 2024 by a small team of Computer Science students at Western Oregon University. <br><br> Our team was brought together by the common goal of creating a web project that is both innovative and useful to society at large, and we found that food is a common denominator that unites us all.</p>
            <div class="center">
                <img src="https://i.imgur.com/HK77Omh.jpeg" alt="Boug-Inc Logo">
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center" style="min-height: 770px;">
        <div>
          <h1>Vision Statement</h1>
          <p>Our nutrition solution is a web application designed to assist individuals with diet restrictions, whether stemming from medical, religious, or personal reasons. <br>

CulturNary helps you constructs a user profile through a comprehensive questionnaire, facilitating personalized recommendations for recipes and then displaying them for your easy consumption. <br><br>

We have a custom advanced search feature available, allowing users to specify their constraints and preferences, encompassing allergies, intolerances, deficiencies, and limited intake parameters like sodium, carbs, and sugar. <br>

Additionally, users can filter and receive recommendations tailored to religion-based dietary restrictions, such as adherence to Halal and Kosher rules. <br><br>

The true strength of our application lies in its ability to harmonize dietary choices with individual medical needs. This topic is of high importance to our team and society as a whole, considering the universal applicability of our solution: everyone needs to eat, and a health-conscious diet is a conduit to a thriving life for all. <br><br>

Unlike our competitors such as eatingwell.com and delish.com, our application excels in integrating diverse requirements through advanced search functionalities and personalized profiles. This results in precise dish recommendations tailored to users' distinct needs and desires.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center" style="min-height: 770px;">
        <div>
          <h1>Meet the Team</h1>
          <ul>
            <h2>Austin Davis</h2>
            <p>Austin is a Computer Science major at Western Oregon University, and is the most senior member of the team. He has a background in app development spanning a multitude of programming languages.</p>
            <h2>Evgeny Gubin</h2>
            <p>Evgeny is a Math and Computer Science major at Western Oregon University, and serves as the team leader for Boug Inc. He came up with Boug as a name, altered from the randomly generated "Bugocalypse" as a play on words combining Bog and Bug</p></li>
            <h2>Izabel Roman Martinez</h2>
            <p>Izabel is a Computer Science major at Western Oregon University, and is the primary graphic designer and front-end developer of the team. She created the entire design scheme for the website is responsible for the majority of the style of CulturNary.</p>
            <h2>Lunafreyja Schafer</h2>
            <p>Lunafreyja is a Business and Computer Science major at Western Oregon University, and is a jack of all trades who fills in positions as needed. She has a past in mod development for video games, which brought her into the world of coding.</p>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#textCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: #DCEDCF filter: invert(1);"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next " href="#textCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="color: #DCEDCF filter: invert(1);"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</body>
