@{
    ViewData["Title"] = "Collections Page";
}

<div class="collections-page">
    <div class="container pt-5">
        <br>
        <h1 class="container-title collections-text-light">Collections</h1>
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div id="carousel-inner" class="carousel-inner">
                <!-- Carousel items will be dynamically populated here -->
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row pt-5 text-center">
            <!-- Column for creating a new CollectionDto (4 columns) -->
            <div class="col-md-6" id="createCollectionFormContainer">
                <h2>Create New Collection</h2>
                <!-- Add your form here to create a new CollectionDto -->
                <form class= id="createCollectionForm">
                    <div class="mb-3">
                        <label for="collectionName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="collectionName" placeholder="Enter collection name"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="collectionDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="collectionDescription"
                            placeholder="Enter collection description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="collectionImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="collectionImage" accept="image/*">
                    </div>
                    <button type="submit" class="btn-collections">Create Collection</button>
                </form>
            </div>
            <div class="col-md-6" id="editCollectionFormContainer" style="display: none;">
                <h2>Edit Collection</h2>
                <!-- Form for editing an existing collection -->
                <form id="editCollectionForm">
                    <input type="hidden" id="editCollectionId" name="collectionId">
                    <div class="mb-3">
                        <label for="editCollectionName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="editCollectionName" placeholder="Enter collection name" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCollectionDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="editCollectionDescription" placeholder="Enter collection description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editCollectionImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="editCollectionImage">
                    </div>
                    <button type="submit" class="btn-collections">Save Changes</button>
                </form>
            </div>
            <!-- Section to display collection recipes when clicked -->
            <div id="collectionDetailsContainer" class="col-md-6 collection-details-container" style="display: none;">
                <h2 id="collectionTitle"></h2>
                <i class="fas fa-plus add-recipe-icon btn-collections"> Add a Recipe</i>
                <!-- Form for adding a new recipe -->
                <div class="col-md-8 offset-md-2" id="addRecipeFormContainer" style="display: none;">
                    <!-- Adjusted column width and added offset for centering -->
                    <h2>Add New Recipe</h2>
                    <form id="addRecipeForm">
                        <input type="hidden" id="collectionId" name="collectionId">
                        <div class="mb-3">
                            <label for="recipeName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Enter recipe name"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="recipeDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="recipeDescription"
                                placeholder="Enter recipe description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="collections" class="form-check-label">Select Collections to add recipe</label>
                            <div id="collections">
                                <!-- Render checkboxes dynamically based on available collections -->
                            </div>
                        </div>
                        <!-- Add other fields for recipe -->
                        <button type="submit" class="btn-recipes">Add Recipe</button>                        
                    </form>
                    <button id="backButton" class="btn-back">Back</button>
                </div>
                <i class="fas fa-plus add-tags-icon btn-collections" id="addTagIcon"> Add/Edit Tags</i>
                <br>
                <button id="showTags" class="btn-back"> Show Tags</button>
                <button id="hideTags" class="btn-back" style="display:none"> Hide Tags</button>
                <div class="col-md-8 offset-md-2" id="displayTagsContainer" style="display:none">
                    <!-- Tags will be displayed here -->
                    <div id="collectionTagsDisplay"></div>
                </div>
                <div class="col-md-8 offset-md-2" id="addTagsFormContainer" style="display:none">
                    <!-- Form for Adding Tags -->
                    <div class="mb-3">
                        <form id="addTagsForm">
                            <label for="collectionTagsEdit" class="form-label">Tags</label>
                            <textarea class="form-control" id="collectionTagsEdit" placeholder="Enter tags separated by commas"></textarea>
                            <button id="updateTags" class="btn-recipes">Update Tags</button>
                        </form>
                    </div>
                </div>
                <p id="collectionDescription"></p>
                <ul id="collectionRecipes"></ul>
            </div> <!-- Column for displaying existing collections -->
            <div class="col-md-6 text-center">
                <h3 class ="collections-text-light">Your Current Collections</h3>
                <h5>
                    <i class="fas fa-plus add-collection-icon btn-collections-light"> Add a Collection</i>
                </h5>

                <div class="search-container">
                    <input type="text" id="collectionSearch" class="searchbarSmall" placeholder="Search by tags...">
                </div>

                <br>
                
                <!-- Message for no collections (hidden by default) -->
                <div class="row">
                    <div class="col">
                        <div class="text-center mt-3" id="noCollectionsMessage" style="display: none;">
                            <p class ="collections-text-light">Start by creating your first Collection.</p>
                        </div>
                    </div>
                </div>
                <div id="collectionContainer" class="collection-container">
                    <!-- Collection cards will be dynamically added here -->
                </div>
            </div>
        </div>
    </div>
</div>