﻿@{
}
<head>
    <link rel="stylesheet" href="~/css/planner.css">
    <link rel="stylesheet" href="/css/mealStyles.css" />
</head>
<body>
    <div class="container">
        <div class="text-center mb-5">
            <h1>Custom Meal Planning made easy</h1>
        </div>
        <div class="text-center mb-5">
            <h1>Does this sound like you?</h1>
            <ul class="list-unstyled">
                <li>Wasted a lot of time thinking about what to make for dinner today</li>
                <li>Want to watch what I eat but don't know how?</li>
                <li>Not good at pre-planning meals</li>
                <li>Want to track my weight and calorie intake</li>
            </ul>
            <a href="/Home/MealPlanGenerator" class="btn btn-primary">Let's find that meal plan</a>
        </div>

        <div class="mb-5">
            <h1 class="text-center">How it works</h1>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h2>Step 1: Take a survey</h2>
                    <p>Answer a few questions about your dietary preferences, allergies, and restrictions.</p>
                </div>
                <div class="col-md-4">
                    <h2>Step 2: Get your meal plan</h2>
                    <p>Based on your answers, we will generate a meal plan for you.</p>
                </div>
                <div class="col-md-4">
                    <h2>Step 3: Enjoy your meals</h2>
                    <p>Follow the meal plan and enjoy your meals.</p>
                </div>
            </div>
        </div>
    </div>
</body>