@{
}

<div class="search-engine-selection">
    <div class="menu-container">
        <div class="row menu">
            <div class="selection-menu col-md-12">
                <h1 class="text-center display-6">WHAT WOULD YOU LIKE TO EXPLORE TODAY!?</h1>
                <div class="d-flex flex-column align-items-center pb-4">
                    <a asp-controller="Home" asp-action="RecipeSearchEngine" class="nutrition-search-btn icon-btn">
                        Recipes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
