@{
    ViewData["Title"] = "Videos Page";
}
<div class="row pt-5 text-center">
  <!-- Column for creating a new Video (6 columns) -->
  <div class="col-md-6" id="createVideoFormContainer">
    <h2>Create New Video</h2>
    <!-- Add your form here to create a new Video -->
    <form class="form" id="createVideoForm">
        <div class="mb-3">
            <label for="videoName" class="form-label">Name Name</label>
            <input type="text" class="form-control" id="videoName" placeholder="Enter video name"required>
        </div>
        <div class="mb-3">
            <label for="videoType" class="form-label">Meal Type</label>
            <input type="text" class="form-control" id="videoType" placeholder="Enter video type" required>
        </div>
        <div class="mb-3">
            <label for="videoLink" class="form-label">Meal Website Link</label>
            <input type="text" class="form-control" id="videoLink" placeholder="Enter video link" required>
        </div>
        <div class="mb-3">
            <label for="videoNotes" class="form-label">Meal Notes</label>
            <textarea class="form-control" id="videoNotes" placeholder="Enter video notes"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Meal Video</button>
    </form>
  </div>
  <div class="col-md-6">
      <h2>Your Meal Vidoes</h2>
        <select class="form-control" id="MealTypeFilter">
            <!-- Add more options as needed -->
        </select>
      <div id="UserVideoList"> </div>
  </div>
</div>