html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #ff4500;*/ /* New color for active state */
    /* text-decoration: underline;
} */


.contact-us button {
    background-color: #2D2B5C !important;
    border: none;
}

    .contact-us button:hover {
        background-color: #1f1e3e !important;
        border: 1px solid #353376 !important;
    }

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #B57EDC;
}

.btn-primary {
    border-color: #B57EDC;
}

.btn-link {
    background-color: #2D2B5C;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #E6D0FF;
    color: #2D2B5C;
    
}

.nav a,
.navbar-nav a {
    color: #2D2B5C;
    cursor: pointer;
}

    .nav a:hover,
    .navbar-nav a:hover {
        color: #4A3B7A;
    }

    .nav a:focus,
    .navbar-nav a:focus {
        color: #4A3B7A;
    }

    .nav a:active,
    .navbar-nav a:active {
        color: #4A3B7A;
    }

/*      Welcome Page Styling
-----------------------------------*/
.welcome-section {
    background-image: linear-gradient(to bottom, #E6D0FF, #E6D0FF 70%, White 30%, white) !important;
    color: #2D2B5C;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.welcome-message {
    word-wrap: break-word;
}

.icon-btn {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .welcome-image {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .welcome-section {
        background-image: linear-gradient(to right, #E6D0FF, #E6D0FF 70%, White 30%, white) !important;
    }
}

.btn-outline-custom {
    display: inline-block;
    color: #E6D0FF;
    background-color: #2D2B5C;
    border: 2px solid #E6D0FF;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    border-radius: 150px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-outline-custom:hover,
    .btn-outline-custom:focus {
        color: #2D2B5C;
        background-color: #E6D0FF;
        text-decoration: none;
        border: 2px solid #2D2B5C;
    }

.icon-registration {
    width: 20px;
    height: auto;
    margin-left: 0.5rem;
}

.btn-outline-custom.icon-btn {
    position: relative;
    padding-right: 2.5rem;
}

    .btn-outline-custom.icon-btn::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url('/media/icons8-right-arrow-50-dark.png');
        background-size: cover;
        transition: background-image 0.3s;
    }

    .btn-outline-custom.icon-btn:hover::after,
    .btn-outline-custom.icon-btn:focus::after {
        background-image: url('/media/icons8-right-arrow-50-light.png');
    }

/* Add bottom padding to the recipe template */
#templateRecipes {
    padding: 10px !important; /* Adjust the value as needed */
}

/* Add bottom padding to the collections template */
#userCollectionsContainer {
    padding: 20px !important; /* Adjust the value as needed */
}
.collectionCard{
    padding: 20px !important;
}
#welcome-user{
    padding-bottom: 50px !important;
    background-color: #B0A3C5 !important;
}
/*          Identity Styling
-----------------------------------*/
.ManageLayout {
    color: #2D2B5C;
    height: 100vh;
    background-color: #E6D0FF;
    width: 100%;
    font-family: Arial, sans-serif;
}

.profile-btn {
    background-color: #B57EDC;
    color: #2D2B5C;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .profile-btn:hover {
        background-color: #E6D0FF;
        color: #2D2B5C;
        text-decoration: none;
    }

    .profile-btn:focus {
        background-color: #E6D0FF;
        color: #2D2B5C;
        text-decoration: none;
    }

    .profile-btn:active {
        background-color: #E6D0FF;
        color: #2D2B5C;
        text-decoration: none;
    }

.toggle-buttons .form-check-res{
    display: inline-block;
}

.toggle-buttons .form-check-res-input{
    display:none;
}

.toggle-buttons .form-check-res-label{
    background-color: #2D2B5C;
    color: #B57EDC;
    border: 1px solid #B57EDC;
    padding: 0.375rem 0.75rem;
    margin: 0 0.1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.toggle-buttons .form-check-res-label.active {
    background-color: #B57EDC;
    color: #2D2B5C;
}

.panel {
    background-color: #2D2B5C;
    border-radius: 25px;
    padding: 10px;
    color: #E6D0FF;
    margin-left: 10px;
}

.account-border {
    border-right: 2px solid #E6D0FF;
}

.text-danger-custom {
    color: #E6D0FF;
}

.nav-pills-custom {
}

body.identity .manage button {
    background-color: #B57EDC !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    transition-duration: 0.4s !important;
}

.nav-pills-custom .nav-link {
    color: #E6D0FF;
}

body.identity .manage button:hover {
    background-color: white !important;
    color: #B57EDC !important;
}

.nav-pills-custom .nav-link.active, .nav-pills-custom .show > .nav-link {
    color: #2D2B5C;
    background-color: #B57EDC;
    border-radius: 50px;
}

/*    Registration & Login From Styling
-----------------------------------*/
.registration-message {
    background-color: #E6D0FF;
    height: 100vh;
    color: #2D2B5C;
    display: flex;
}

.login-section {
    background-color: #E6D0FF;
    height: 100vh;
    color: #2D2B5C;
    display: flex;
}

.login-title {
    color: #2D2B5C;
    display: flex;
    justify-content: center;
}

.login-form,
.registration-section {
    height: 100vh;
}

.login-extra-text {
    color: #B57EDC
}

    .login-extra-text:hover,
    .login-extra-text:focus {
        color: #4A3B7A;
        underline: none;
    }

.reg-text {
    margin: 40px;
}

.login-btn,
.register-btn {
    background-color: #B57EDC;
}


.google-logo {
    width: 30px;
    height: 30px
}

/*    Account Management Styling
-----------------------------------*/
.ManageLayout {
    margin-top: 3% !important;
    color: #2D2B5C;
    height: 100vh;
    background-color: #E6D0FF;
    width: 100%;
}

.profile-btn {
    background-color: #B57EDC;
    color: #2D2B5C;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.profile-btn-danger {
    border-color: #3b407a;
    background-color: #3b407a;
    color: #2D2B5C;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nav-pills-custom {
}

    .nav-pills-custom .nav-link {
        color: #B57EDC;
    }

        .nav-pills-custom .nav-link.active,
        .nav-pills-custom .show > .nav-link {
            color: #2D2B5C;
            background-color: #B57EDC;
            border-radius: 50px;
        }

.text-danger-custom {
    color: #E6D0FF;
}

.alert-warning-custom {
    background-color: #cfdced;
}

.profile-link {
    color: #B57EDC;
}

    .profile-link:hover,
    .profile-link:focus {
        color: #3b407a;
    }

.manage-profile {
    background-color: #2D2B5C;
    padding: 10px;
}

.account-border {
    border-right: 2px solid #E6D0FF;
}

.panel {
    background-color: #2D2B5C;
    border-radius: 25px;
    padding: 10px;
    color: #E6D0FF;
    margin-left: 10px;
}

.row {
    width: 100%;
}

.pfp-rounded-circle {
    border: 1px solid;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.pfp-big-rounded-circle {
    border: 1px solid;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
}

.pfp-mini-rounded-circle {
    border: 1px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-bio-box {
    padding: 20px;
    border: 3px solid;
    border-color: #E6D0FF;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.profile-text-area {
    resize: none;
    height: 300px;
}

/*    Search Engine Selection Page Styling
---------------------------------------------*/
.search-engine-selection {
    background-color: #E6D0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.menu-container {
    background-color: #B0A3C5;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: #2D2B5C;
}

.selection-menu {
    text-align: center;
}

.nutrition-search-btn,
.nutrition-search-btn a {
    background-color: #2D2B5C;
    color: #E6D0FF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

    .nutrition-search-btn:hover, .nutrition-search-btn a:hover {
        background-color: #E6D0FF;
        color: #2D2B5C;
        text-decoration: none;
    }

    .nutrition-search-btn:focus, .nutrition-search-btn a:focus {
        background-color: #E6D0FF;
        color: #2D2B5C;
        text-decoration: none;
    }

@media (max-width: 768px) {
    .selection-menu {
        font-size: 2rem;
        height: auto;
        line-height: normal;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .selection-menu {
        font-size: 1.5rem;
        max-width: 90%;
    }
}
/*    Search Engine Search Page Styling
---------------------------------------------*/

.search-engine-section {
    background-color: #E6D0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #2D2B5C;
}

.search-menu-section {
    background-color: #2D2B5C2a;
    border-radius: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.search-section {
    background-color: #2D2B5C;
    border-radius: 25px;
    color: #E6D0FF;
}

.search-engine {
    background-color: #2D2B5C;
    border-radius: 25px;
    color: #E6D0FF;
    border: 1px solid #E6D0FF;
    padding-left: 15px;
    height: 40px;
}

.search-btn {
    background-color: #B57EDC;
    color: #2D2B5C;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}
    .search-btn:hover {
        background-color: #B57EDCad;
        color: #2D2B5C;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 10px;
    }

/*    Collections Styling
-----------------------------------*/
.collections-page {
    background-color: #B0A3C5;
    padding-top: 10px;
    padding-bottom: 0; /* Reduce bottom padding */
}

    .collections-page > div:last-child {
        margin-bottom: 0;
    }

.collections-text-light{
    color: #2D2B5C;
}

.collections-text-dark{
    color: #E6D0FF;
}

.btn-collections {
    background-color: #E6D0FF;
    color: #2D2B5C;
    text-decoration: none;
    text-align: center;
}

.btn-collections-light {
    background-color: #2D2B5C;
    color: #E6D0FF;
    text-decoration: none;
    text-align: center;
    border: 2px solid #2D2B5C;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    border-radius: 150px;
}

.btn-recipes {
    background-color: #E6D0FF;
    color: #2D2B5C;
    text-decoration: none;
}

.btn-back{
    color: #E6D0FF;
    text-decoration:underline;
    border: none;
    background-color: #2D2B5C;
}

.icon-margin {
    margin-right: 20px;
    /* Adjust as needed */
}

.collection-container {
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    text-align: center;
}

.container-title {
    text-align: center !important;
}

.card-body .delete-collection:hover {
    cursor: pointer;
    /* Change cursor to pointer to indicate interaction */
}

.card-body{
    background-color: #2D2B5C;
    color: #E6D0FF;
}

.collectionDetailsContainer {
    text-align: center;
}

.pencil-icon:hover {
    cursor: pointer;
    /* Change the cursor to a pointer */
}

.card-title:hover {
    cursor: pointer;
}

.add-recipe-icon {
    cursor: pointer;
}

.add-collection-icon {
    cursor: pointer;
}

.delete-recipe-icon {
    cursor: pointer;
}

.tag-item {
    display: inline-block; /* Keep them in line */
    margin-right: 10px; /* Space between tags */
    padding: 5px; /* Padding inside the border */
    border: 2px solid #E6D0FF; /* Border color */
    border-radius: 5px; /* Optional: rounded corners */
    white-space: nowrap; /* Prevents the text from wrapping */
}

.searchbarSmall {
    width: 50%;
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container {
    padding-top: 10px;
    padding-bottom: 0 !important; /* Reduce bottom padding */
}

.row {
    margin-bottom: 0 !important; /* Reduce bottom margin */
}

    .row:last-child {
        margin-bottom: 0 !important; /* Remove bottom margin for the last row */
    }

/* Form styling */
.form-label, .form-check-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-control-small {
    width: 15%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea.form-control {
    resize: vertical; /* Allow vertical resizing of text area */
}

.btn-collections,
.btn-recipes {
    background-color: #E6D0FF;
    color: #2D2B5C;
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-collections:hover,
    .btn-recipes:hover {
        background-color: #E6D0FF;
        color: #2D2B5C;
        text-decoration: none;
    }

/* Form container styling */
#createCollectionFormContainer,
#editCollectionFormContainer,
#addRecipeFormContainer {
    background-color: #2D2B5C;
    color: #E6D0FF;
    /* padding: 1rem; */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

#collectionDetailsContainer {
    background-color: #2D2B5C;
    color: #E6D0FF;
    /* padding: 1rem; */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

#addRecipeFormContainer {
    border: 2px solid #E6D0FF; /* Add border with the desired color */
}

.adminTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 60px;
}

    .adminTable th, .adminTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .adminTable th {
        background-color: #4F7942; /* dark green */
        color: white;
    }

    .adminTable tr:hover {
        background-color: #4F7942;
    }

.make-admin-button {
    background-color: #C6B8E6; /* dark green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.make-admin-button:hover {
    background-color: white;
    color: #4F7942;
}
.delete-user-button {
    background-color: #C6B8E6; /* dark green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .delete-user-button:hover {
        background-color: white;
        color: #4F7942;
    }

.modal-body {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #E6D0FFbf;
    
}

    .modal-body td {
        text-align: end;
    }
    .modal-body th {
        text-align: start;
    }

.modal {
    backdrop-filter: blur(10px);
}

#modalRecipe
.delete-user-button {
    background-color: #4F7942; /* dark green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .delete-user-button:hover {
        background-color: white;
        color: #4F7942;
    }

.nutrition-btn {
    padding-left: 20px;
}

.recipe-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
/*    max-width: 100%;
*/}

    .recipe-card img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .recipe-card h3 {
        margin-top: 0;
    }

    .recipe-card a {
        color: #E6D0FF;
    }
    .recipe-card a:hover {
        color: #4A3B7A;
    }
.card {
    width: 20rem;
}

.search-engine-section {
    background-color: #f9f9f9; 
    padding: 20px;
}

#searchResults {
    max-height: 500px;
    color: #E6D0FF;
    overflow-y: auto; 
    background-color: #ffffff91; 
    border-radius: 5px; 
    padding: 15px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.recipe-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f96b;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.search-engine-section {
    background-color: #E6D0FF; 
    padding: 20px;
}

#searchResults {
    max-height: 500px;
    overflow-y: auto;
    background-color: #E6D0FF;
    border-radius: 5px;
    border-block-color: #2D2B5C;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card .img-fluid {
/*    padding: 8px !important;
*/    max-width: 300% !important;
}

#searchResults::-webkit-scrollbar {
    width: 10px;
}

#searchResults::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

#searchResults::-webkit-scrollbar-track {
    background: #f0f0f0;
}

#recipeModalLabel {
    color: #E6D0FF
}

@media (max-width: 768px) {
    .selection-menu {
        width: 100%;
        padding-left: 20px;
    }

    .nutrition-search-btn, .nutrition-btn {
        font-size: smaller; 
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .selection-menu {
        width: 85%; 
    }
}

.selection-menu .d-flex > a, .selection-menu .d-flex {
    flex-grow: 1; 
    text-align: center; 
    width: 100%; 
    padding-left: 20px;
}

.nutrition-btn {
    width: auto; 
    max-width: 100%; 
    height: auto; 
    padding-right: 20px;
}

.selection-container {
    padding-left: 90px;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.card-text-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .card-text-body .btn-primary {
        background-color: rgb(0 0 0 / 0%) !important;
        color: #D1A3FFba !important;
    }
        .card-text-body .btn-primary:hover {
            background-color: rgb(0 0 0 / 0%) !important;
            color: #D1A3FFee !important;
        }

.modal-btn .btn-primary, .modal-body .btn-primary {
    background-color: #B57EDC;
    color: #2D2B5C;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
    width: 750px;
    margin-bottom: 30px;
    border: 1px solid #2D2B5C;
}

    .modal-btn .btn-primary:hover, .modal-body .btn-primary:hover {
        background-color: #B57EDCad;
        color: #E6D0FF;
        text-decoration: none;
        border: #E6D0FF;
    }

    .modal-btn .btn-primary:focus, .modal-body .btn-primary:hover {
        background-color: #B57EDCad;
        color: #E6D0FF;
        text-decoration: none;
        border: #E6D0FF;
    }

    .modal-btn .btn-primary:active, .modal-body .btn-primary:hover {
        background-color: #B57EDCad;
        color: #E6D0FF;
        text-decoration: none;
        border: #E6D0FF;
    }

.modal-title-text h5 {
    color: #2D2B5C !important;
    text-align:center;
}
.modal-title-text {
    background-color: #E6D0FF;
}

.img-container .img-fluid {
    width: fit-content;
}
.modal-btn-link {
    color: #2D2B5C !important;
    text-decoration: none !important;
}

#collections ul {
    list-style-type: disc;
    padding-left: 20px;
}

#collections li {
    margin-bottom: 10px;
}

#done {
    text-decoration: line-through;
}

.grocery-list {
    background-color: #E6D0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.list-container {
    background-color: #B0A3C5;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: #2D2B5C;
}

.grocery-main button, .grocery-main a {
    border: none;
    cursor: pointer;
    color: #B57EDC;
    border-radius: 10px;
}

.grocery-main ul {
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
    width: 270px;
}
#checklistDate {
    color: #B57EDC;
    border: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.grocery-main li {
    list-style-type: none;
}

.groceries{
    padding-right: 0 !important;
}

/* Style for the collection image */
.collection-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Container to limit the image height */
.image-container {
    max-height: 200px;
    overflow: hidden;
}

.card {
    width: 15rem;
    margin-bottom: 20px; /* Add margin between cards */
}

/* Adjust padding and margin for better spacing */
.collection-container {
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    text-align: center;
    padding-bottom: 100px; /* Ensure space between cards and footer */
}

.footer-style {
    padding-top: 20px;
    background-color: #b894e2 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
}

.main-content {
    margin-bottom: 100px; /* Adjust the value as needed */
}


/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.collectionImg {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.collectionImg:hover {
    transform: scale(1.05);
}

.viewCollectionBtn {
    margin-top: 10px;
}

.accordian-header button {
    color: #353F2D;
}