.container-fluid.bgr {
    background-image: url(/images/bgr_demo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    background-size: cover;
    background-color: #F3F3F3 !important;
}

.inside .demo-block {
    background: #fff;
    margin-top: 80px;
    min-height: 500px;
}

.card-header {
    border: none;
    margin: 0;
    background: #DCEDCF;
}

#collapse2,
#collapse3,
#collapse4,
#collapse5,
#collapse6,
#collapse7,
#collapse8 {
    display: none;
}

.mdesc {
    display: none;
}

.card-body {
    font-size: 13px;
    display: inline-block;
    width: 100%;
}

.nutr span.mdesc {
    margin: 0;
    position: relative;
    font-size: 12px;
}

.mdesc .search.nut {
    margin: 0;
    width: 50px;
    font-size: 12px;
}

.result-area-nav .active {
    color: #407A3B;
    border-bottom: 2px solid #407A3B;
}

.result-area {
    /*background: #fff;*/
}

.control-info {
    background: url(https://developer.edamam.com/images/info.svg) !important;
    background-color: #fff !important;
    background-size: 23px !important;
}

.demo-search .nutr span.mdesc {
    box-shadow: 1px 3px 5px 1px #ddd !important;
    height: auto !important;
}

.demo-search .card-body .search {
    width: 50px !important;
}

.demo-search .range-check.check-contain {
    bottom: -5px !important;
    top: unset !important;
}

#collapse5 .card-body {
    padding-bottom: 150px;
}

.api #collapse1 h2,
.api #collapse2 h2,
.api #collapse3 h2,
.api #collapse4 h2,
.api #collapse5 h2,
.api #collapse6 h2,
.api #collapse7 h2,
.api #collapse8 h2 {
    text-align: center !important;
    font-size: 20px !important;
}

.api #heading2,
.api #heading3,
.api #heading4,
.api #heading5,
.api #heading6,
.api #heading7,
.api #heading8 {
    display: none;
}

.api #collapse4 h2 {
    margin-top: 30px;
}

.api #collapse5 h2:last-of-type {
    padding-bottom: 20px;
}

.api #heading8 {
    margin-bottom: 100px;
}

.api h3 {
    font-size: 1.3rem;
    padding-bottom: 0 !important;
}

.day-title {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.key-title {
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 400;
    padding-top: 10px;
}

.api .dish-type-br,
.api .dish-type-ln,
.api .dish-type-di {
    display: contents;
}

.r-title {
    padding-top: 20px;
    font-weight: 400 !important;
    color: #DCEDCF;
    position: relative;
    padding-bottom: 20px !important;
}

.table-res-recipe.recipes-area.row {
    display: flex;
    margin-left: auto;
}

.api .table-res-recipe img {
    width: 100% !important;
    width: -moz-available !important; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
    width: fill-available !important;
}

.nutr-block {
    background-color: #fff;
}

    .nutr-block .daily-cal {
        margin-bottom: 0px !important;
    }

    .nutr-block ul {
        padding-left: 10px !important;
    }

.api .result-area .recipe-title {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 17px !important;
    word-wrap: break-word;
    background-color: #353f2dbf;
    color: #fff;
}

.api .right-col {
    padding-bottom: 50px;
}

.openJSON {
    display: none;
}

a#openJSON {
    cursor: pointer;
}

h2 b {
    color: #407A3B;
    font-weight: 600;
}

.api .result-area .recipe-title {
    min-height: 60px;
}

.test .checkbox-button__input:checked + .checkbox-button__control:after {
    content: none;
}

#menu-btn .btn-link {
    background-color: #DCEDCF !important;
}

.cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20px;
}

img {
    padding: 15px;
}

.content-area {
    background-color: #DCEDCF;
}
