html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        margin-bottom: 60px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #407A3B;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/*      Welcome Page Styling
-----------------------------------*/

.welcome-section {
    background-image: linear-gradient(to bottom, #353F2D, #353F2D 70%, White 30%, white);
    color: #DCEDCF;
}

.section {
    margin-top: 8%;
    margin-left: 5%;
}

@media (min-width: 768px) {
    .welcome-section {
        background-image: linear-gradient(to right, #353F2D, #353F2D 70%, White 30%, white);
    }
}

.btn-outline-custom {
    color: #353F2D;
    background-color: #DCEDCF;
    background-image: none;
    border-radius: 150px;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    margin-bottom: 20px
}

    .btn-outline-custom:hover {
        color: #DCEDCF;
        background-color: #353F2D;
        border-color: #DCEDCF;
    }

.icon-registration {
    width: 20px;
    height: auto;
    margin-left: 0.5rem;
}

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 767.98px) {
    .btn-outline-custom {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }

    .icon-registration {
        width: 15px;
    }

    iframe {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .custom-align {
        text-align: left !important;
    }
}

.welcome-image {
    width: 500px;
    margin-top: 20px;
}

@media (max-width: 991.98px) {
    .welcome-image {
        width: 450px;
    }
}

@media (max-width: 767.98px) {
    .welcome-image {
        margin-top: 12%;
        width: 83%;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    .welcome-message {
        font-size: 5vw; 
    }

   
    iframe {
        width: 80vw; 
        height: 30vw; 
    }

    .btn-outline-custom {
        font-size: 3.5vw;
        padding: 1.5vw 3vw; 
    }

    .icon-registration {
        width: 4vw;
        height: auto;
    }

    .welcome-image {
        width: 35vw; 
        margin-top: 5vw; 
    }
}

body.identity .manage {
  color: #407A3B !important;
}

body.identity .manage {
  background-color: #F0F0F0 !important;
}


body.identity .manage button {
  background-color: #407A3B !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  transition-duration: 0.4s !important;
}

body.identity .manage button:hover {
  background-color: white !important;
  color: #407A3B !important;
}
