html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #407A3B;
}

.btn-primary {
    border-color: #407A3B;
}

.btn-link {
    background-color: #DCEDCF;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 60px;
}

.nav a,
.navbar-nav a {
    color: #DCEDCF;
    cursor: pointer;
}

.nav a:hover,
.navbar-nav a:hover {
    color: #78A158;
}

.nav a:focus,
.navbar-nav a:focus {
    color: #78A158;
}

.nav a:active,
.navbar-nav a:active {
    color: #78A158;
}

/*      Welcome Page Styling
-----------------------------------*/
.welcome-section {
    background-image: linear-gradient(to bottom, #353F2D, #353F2D 70%, White 30%, white);
    color: #DCEDCF;
}

.section {
    margin-top: 8%;
    margin-left: 5%;
}

@media (min-width: 768px) {
    .welcome-section {
        background-image: linear-gradient(to right, #353F2D, #353F2D 70%, White 30%, white);
    }
}

.btn-outline-custom {
    display: inline-block;
    color: #353F2D;
    background-color: #DCEDCF;
    border: 2px solid #353F2D;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    border-radius: 150px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus {
    color: #DCEDCF;
    background-color: #353F2D;
    text-decoration: none;
    border: 2px solid #DCEDCF;
}

.icon-registration {
    width: 20px;
    height: auto;
    margin-left: 0.5rem;
}

.btn-outline-custom.icon-btn {
    position: relative;
    padding-right: 2.5rem;
}

.btn-outline-custom.icon-btn::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/media/icons8-right-arrow-50-dark.png');
    background-size: cover;
    transition: background-image 0.3s;
}

.btn-outline-custom.icon-btn:hover::after,
.btn-outline-custom.icon-btn:focus::after {
    background-image: url('/media/icons8-right-arrow-50-light.png');
}

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 767.98px) {
    .btn-outline-custom {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }

    .icon-registration {
        width: 15px;
    }

    iframe {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .custom-align {
        text-align: left !important;
    }
}

.welcome-image {
    width: 500px;
    margin-top: 20px;
}

@media (max-width: 991.98px) {
    .welcome-image {
        width: 450px;
    }
}

@media (max-width: 767.98px) {
    .welcome-image {
        margin-top: 12%;
        width: 83%;
    }
}

/*          Identity Styling
-----------------------------------*/
.ManageLayout {
    margin-top: 30px !important;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
}

body.identity .manage {
    color: #407A3B !important;
    background-color: #F0F0F0 !important;
}

body.identity .manage button {
    background-color: #407A3B !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    transition-duration: 0.4s !important;
}

body.identity .manage button:hover {
    background-color: white !important;
    color: #407A3B !important;
}

/*    Registration & Login From Styling
-----------------------------------*/
.registration-message {
    background-color: #353F2D;
    height: 100vh;
    color: #DCEDCF;
    display: flex;
}

.login-section {
    background-color: #353F2D;
    height: 100vh;
    color: #DCEDCF;
    display: flex;
}

.login-title {
    color: #DCEDCF;
    display: flex;
    justify-content: center;
}

.login-form,
.registration-section {
    height: 100vh;
}

.login-extra-text {
    color: #407A3B
}

.login-extra-text:hover,
.login-extra-text:focus {
    color: #78A158;
    underline: none;
}

.reg-text {
    margin: 40px;
}

.login-btn,
.register-btn {
    background-color: #407A3B;
}

.card {
    width: 23rem;
}

.google-logo {
    width: 30px;
    height: 30px
}

/*    About Page Styling
-----------------------------------*/
.about-section {
    height: 100vh;
    background-color: #353F2D;
}

.carousel {
    height: 100vh;
}

.about-title {
    color: #DCEDCF;
    display: flex;
    justify-content: flex-start;
}

.carousel-inner {
    padding-top: 7%;
    margin-left: 8%;
    height: 100vh;
    width: 100%;
}

.text-1 {
    color: #DCEDCF;
}

.vision-statement {
    color: #DCEDCF;
    font-weight: 100;
    line-height: 1.5;
}

.background {
    background: url('/media/BOUG Logo About Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 65vh;
}

.team-member {
    color: azure;
    line-height: 24px;
    height: 100%;
    background-color: rgba(220, 237, 207, 0.4);
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    padding: 30px;
    margin-top: 45px;
}

.spacing {
    margin-top: 40px;
}

.team-member h1,
.team-member h5 {
    font-weight: 100;
}

/*    Account Management Styling
-----------------------------------*/
.ManageLayout {
    margin-top: 3% !important;
    color: #DCEDCF;
    height: 100vh;
    background-color: #353F2D;
    width: 100%;
}

.profile-btn {
    background-color: #407A3B;
    color: #DCEDCF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.profile-btn-danger {
    border-color: #3b407a;
    background-color: #3b407a;
    color: #DCEDCF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nav-pills-custom {}

.nav-pills-custom .nav-link {
    color: #407A3B;
}

.nav-pills-custom .nav-link.active,
.nav-pills-custom .show>.nav-link {
    color: #DCEDCF;
    background-color: #407A3B;
    border-radius: 50px;
}

.text-danger-custom {
    color: #353F2D;
}

.alert-warning-custom {
    background-color: #cfdced;
}

.profile-link {
    color: #407A3B;
}

.profile-link:hover,
.profile-link:focus {
    color: #3b407a;
}

.manage-profile {
    background-color: #DCEDCF;
    padding: 10px;
}

.account-border {
    border-right: 2px solid #353F2D;
}

.panel {
    background-color: #DCEDCF;
    border-radius: 25px;
    padding: 10px;
    color: #353F2D;
    margin-left: 10px;
}

.row {
    width: 100%;
}

.pfp-rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:300px;
    height:300px;
    margin-bottom: 20px;
}

.pfp-big-rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:450px;
    height:450px;
    margin-bottom: 20px;
}

.pfp-mini-rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:50px;
    height:50px;
}

.profile-bio-box{
    padding: 20px; 
    border: 3px solid;
    border-color: #353F2D;
    border-radius: 8px; 
    display: inline-block; 
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.profile-text-area{
    resize:none;
    height: 300px;
}

/*    Search Engine Selection Page Styling
---------------------------------------------*/
.search-engine-selection {
    background-color: #353F2D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.menu-container {
    background-color: #505C47;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: #DCEDCF;
}

.selection-menu {
    text-align: center;
}

.nutrition-search-btn,
.nutrition-search-btn a {
    background-color: #DCEDCF;
    color: #353F2D;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.nutrition-search-btn:hover a {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
}

.nutrition-search-btn:focus a {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
}

.nutrition-search-btn:active a {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
}

@media (max-width: 768px) {
    .selection-menu {
        font-size: 2rem;
        height: auto;
        line-height: normal;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .selection-menu {
        font-size: 1.5rem;
        max-width: 90%;
    }
}

/*    Collections Styling
-----------------------------------*/
.collections-page{
    background-color: #505C47;
    padding-top: 10px;
    padding-bottom: 0; /* Reduce bottom padding */
}

.collections-page > div:last-child {
    margin-bottom: 0;
}

.collections-text-light{
    color: #DCEDCF;
}

.collections-text-dark{
    color: #353F2D;
}

.btn-collections {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
    text-align: center;
}

.btn-collections-light {
    background-color: #DCEDCF;
    color: #353F2D;
    text-decoration: none;
    text-align: center;
    border: 2px solid #DCEDCF;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    border-radius: 150px;
}

.btn-recipes {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
}

.btn-back{
    color: #353F2D;
    text-decoration:underline;
    border: none;
    background-color: #DCEDCF;
}

.icon-margin {
    margin-right: 20px;
    /* Adjust as needed */
}

.collection-container {
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    text-align: center;
}

.container-title{
    text-align: center !important;
}
.card-body .delete-collection:hover {
    cursor: pointer;
    /* Change cursor to pointer to indicate interaction */
}

.card-body{
    background-color: #DCEDCF;
    color: #353F2D;
}

.collectionDetailsContainer {
    text-align: center;
}

.pencil-icon:hover {
    cursor: pointer;
    /* Change the cursor to a pointer */
}

.card-title:hover {
    cursor: pointer;
}

.add-recipe-icon {
    cursor: pointer;
}

.add-collection-icon {
    cursor: pointer;
}

.delete-recipe-icon {
    cursor: pointer;
}

.tag-item {
    display: inline-block; /* Keep them in line */
    margin-right: 10px; /* Space between tags */
    padding: 5px; /* Padding inside the border */
    border: 2px solid #353F2D; /* Border color */
    border-radius: 5px; /* Optional: rounded corners */
    white-space: nowrap; /* Prevents the text from wrapping */
}

.searchbarSmall {
    width: 50%;
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container {
    padding-top: 10px;
    padding-bottom: 0 !important; /* Reduce bottom padding */
}

.row {
    margin-bottom: 0 !important; /* Reduce bottom margin */
}

.row:last-child {
    margin-bottom: 0 !important; /* Remove bottom margin for the last row */
}

/* Form styling */
.form-label, .form-check-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea.form-control {
    resize: vertical; /* Allow vertical resizing of text area */
}

.btn-collections,
.btn-recipes {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-collections:hover,
.btn-recipes:hover {
    background-color: #353F2D;
    color: #DCEDCF;
    text-decoration: none;
}

/* Form container styling */
#createCollectionFormContainer,
#editCollectionFormContainer,
#addRecipeFormContainer {
    background-color: #DCEDCF;
    color: #353F2D;
    /* padding: 1rem; */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

#collectionDetailsContainer {
    background-color: #DCEDCF;
    color: #353F2D;
    /* padding: 1rem; */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

#addRecipeFormContainer {
    border: 2px solid #353F2D; /* Add border with the desired color */
}.adminTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 60px;
}
.adminTable th, .adminTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.adminTable th {
    background-color: #4F7942; /* dark green */
    color: white;
}
.adminTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.adminTable tr:hover {
    background-color: #ddd;
}
.make-admin-button {
    background-color: #4F7942; /* dark green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.make-admin-button:hover {
    background-color: white; 
    color: #4F7942;
}
.delete-user-button {
    background-color: #4F7942; /* dark green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.delete-user-button:hover {
    background-color: white; 
    color: #4F7942;
}
