html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #407A3B;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body.identity .manage {
  color: #407A3B !important;
}

body.identity .manage {
  background-color: #F0F0F0 !important;
}


body.identity .manage button {
  background-color: #407A3B !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  transition-duration: 0.4s !important;
}

body.identity .manage button:hover {
  background-color: white !important;
  color: #407A3B !important;
}