html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #407A3B;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;
    margin-bottom: 60px;
}

/*      Welcome Page Styling
-----------------------------------*/
.welcome-section {
    background-image: linear-gradient(to bottom, #353F2D, #353F2D 70%, White 30%, white);
    color: #DCEDCF;
}

.section {
    margin-top: 8%;
    margin-left: 5%;
}

@media (min-width: 768px) {
    .welcome-section {
        background-image: linear-gradient(to right, #353F2D, #353F2D 70%, White 30%, white);
    }
}

.btn-outline-custom {
    display: inline-block;
    color: #353F2D;
    background-color: #DCEDCF;
    border: 2px solid #353F2D;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    border-radius: 150px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-outline-custom:hover, .btn-outline-custom:focus {
        color: #DCEDCF;
        background-color: #353F2D;
        text-decoration: none;
        border: 2px solid #DCEDCF;
    }

.icon-registration {
    width: 20px;
    height: auto;
    margin-left: 0.5rem;
}

.btn-outline-custom.icon-btn {
    position: relative;
    padding-right: 2.5rem;
}

    .btn-outline-custom.icon-btn::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url('/media/icons8-right-arrow-50-dark.png');
        background-size: cover;
        transition: background-image 0.3s;
    }

    .btn-outline-custom.icon-btn:hover::after, .btn-outline-custom.icon-btn:focus::after {
        background-image: url('/media/icons8-right-arrow-50-light.png');
    }

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 767.98px) {
    .btn-outline-custom {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }

    .icon-registration {
        width: 15px;
    }

    iframe {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .custom-align {
        text-align: left !important;
    }
}

.welcome-image {
    width: 500px;
    margin-top: 20px;
}

@media (max-width: 991.98px) {
    .welcome-image {
        width: 450px;
    }
}

@media (max-width: 767.98px) {
    .welcome-image {
        margin-top: 12%;
        width: 83%;
    }
}

/*          Identity Styling
-----------------------------------*/
body.identity .manage {
    color: #407A3B !important;
    background-color: #F0F0F0 !important;
}

    body.identity .manage button {
        background-color: #407A3B !important;
        color: white !important;
        border: none !important;
        padding: 10px 20px !important;
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important;
        font-size: 16px !important;
        margin: 4px 2px !important;
        cursor: pointer !important;
        transition-duration: 0.4s !important;
    }

        body.identity .manage button:hover {
            background-color: white !important;
            color: #407A3B !important;
        }

/*    Registration From Styling
-----------------------------------*/
.registration-section {
    width: 100%;
}

.registration-message {
    background-color: #353F2D;
    height: 100vh;
}

.reg-text {
    color: #DCEDCF;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 120px;
}
.reg-form-style{
    margin: 100px;
}
