@model CulturNary.Web.Models.ImageRecognitionResult

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Image Recognition</title>
    </head>
    <body>
        <br>
        <h2>Image Recognition</h2>
        <br>
        <br>
        <div class="row">
            <div class="col-6 my-5">
                <h3>Upload Image</h3>
                <form asp-action="ImageRecognition" method="post" enctype="multipart/form-data" id="imageForm">
                    <div>
                        <label for="file">Select Image:</label>
                        <input type="file" name="file" id="file" accept="image/*"/>
                    </div>
                    <button class="profile-btn" id="uploadButton1" type="submit">Upload</button>
                </form>
            </div>
            <div class="col-6 my-5">
                <h3>Capture Image</h3>
                <button class="profile-btn" id="startCameraButton">Start Camera</button>
                <video id="video" width="720" height="480" style="display:none;" autoplay></video>
                <button class="profile-btn" id="captureButton" style="display:none;">Capture Image</button>
                <canvas id="canvas" width="720" height="480" style="display:none;"></canvas>
                <button class="profile-btn" id="uploadButton2" style="display:none;">Upload Image</button>
                <div id="preview"></div>
                <form asp-action="ImageRecognition" method="post" enctype="multipart/form-data" id="cameraForm">
                    <div>
                        <input type="file" name="cameraFile" id="cameraFile" accept="image/*" style="display:none;/>
                    </div>
                    <button class="profile-btn" id="cameraUpload" type="submit" style="display:none;"></button>
                </form>
            </div>

        </div>

        <div class="row">
            @if(Model != null && Model.imageUrl != null)
            {
                <div class="col-6">
                    <h3>Submitted Image:</h3>
                    <img src="@Model.imageUrl" alt="Uploaded Image" style="width:50%;"/>
                </div>
            }

            @if (Model != null && Model.response != null){ 
                <div class="col-6 align-items-center my-5">
                    <h3>AI Response:</h3>
                    <p>@Model.response.Choices[0].Message.Content</p>
                </div>
            }
        </div>
    </body>

    <script src="~/js/ImageRecognition.js"></script>

</html>