@* @page
@model LikeDislikeModel
@{
    ViewData["Title"] = "Change your Likes and Dislikes";
    ViewData["ActivePage"] = ManageNavPages.Profile;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" /> *@