@page
@model DietRestrictionsModel
@{
    ViewData["Title"] = "Change your Dietary Restrictions";
    ViewData["ActivePage"] = ManageNavPages.Profile;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger-custom" role="alert"></div>
            <div class ="toggle-buttons">
                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.AlcoholFree" class="form-check-res-input" id="Input_AlcoholFree">
                    <label asp-for="Input.AlcoholFree" class="form-check-res-label btn btn-profile">Alcohol-Free</label>
                    <span asp-validation-for="Input.AlcoholFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.CeleryFree" class="form-check-res-input" id="Input_CeleryFree">
                    <label asp-for="Input.CeleryFree" class="form-check-res-label btn btn-profile">Celery-Free</label>
                    <span asp-validation-for="Input.CeleryFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.CrustaceanFree" class="form-check-res-input" id="Input_CrustaceanFree">
                    <label asp-for="Input.CrustaceanFree" class="form-check-res-label btn btn-profile">Crustacean-Free</label>
                    <span asp-validation-for="Input.CrustaceanFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.DairyFree" class="form-check-res-input" id="Input_DairyFree">
                    <label asp-for="Input.DairyFree" class="form-check-res-label btn btn-profile">Dairy-Free</label>
                    <span asp-validation-for="Input.DairyFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.EggFree" class="form-check-res-input" id="Input_EggFree">
                    <label asp-for="Input.EggFree" class="form-check-res-label btn btn-profile">Egg-Free</label>
                    <span asp-validation-for="Input.EggFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.FishFree" class="form-check-res-input" id="Input_FishFree">
                    <label asp-for="Input.FishFree" class="form-check-res-label btn btn-profile">Fish-Free</label>
                    <span asp-validation-for="Input.FishFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.GlutenFree" class="form-check-res-input" id="Input_GlutenFree">
                    <label asp-for="Input.GlutenFree" class="form-check-res-label btn btn-profile">Gluten-Free</label>
                    <span asp-validation-for="Input.GlutenFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.ImmunoSupportive" class="form-check-res-input" id="Input_ImmunoSupportive">
                    <label asp-for="Input.ImmunoSupportive" class="form-check-res-label btn btn-profile">Immuno-Supportive</label>
                    <span asp-validation-for="Input.ImmunoSupportive" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.KetoFriendly" class="form-check-res-input" id="Input_KetoFriendly">
                    <label asp-for="Input.KetoFriendly" class="form-check-res-label btn btn-profile">Keto-Friendly</label>
                    <span asp-validation-for="Input.KetoFriendly" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.KidneyFriendly" class="form-check-res-input" id="Input_KidneyFriendly">
                    <label asp-for="Input.KidneyFriendly" class="form-check-res-label btn btn-profile">Kidney-Friendly</label>
                    <span asp-validation-for="Input.KidneyFriendly" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.Kosher" class="form-check-res-input" id="Input_Kosher">
                    <label asp-for="Input.Kosher" class="form-check-res-label btn btn-profile">Kosher</label>
                    <span asp-validation-for="Input.Kosher" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.LowPotassium" class="form-check-res-input" id="Input_LowPotassium">
                    <label asp-for="Input.LowPotassium" class="form-check-res-label btn btn-profile">Low-Potassium</label>
                    <span asp-validation-for="Input.LowPotassium" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.LowSugar" class="form-check-res-input" id="Input_LowSugar">
                    <label asp-for="Input.LowSugar" class="form-check-res-label btn btn-profile">Low-Sugar</label>
                    <span asp-validation-for="Input.LowSugar" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.LupineFree" class="form-check-res-input" id="Input_LupineFree">
                    <label asp-for="Input.LupineFree" class="form-check-res-label btn btn-profile">Lupine-Free</label>
                    <span asp-validation-for="Input.LupineFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.Mediterranean" class="form-check-res-input" id="Input_Mediterranean">
                    <label asp-for="Input.Mediterranean" class="form-check-res-label btn btn-profile">Mediterranean</label>
                    <span asp-validation-for="Input.Mediterranean" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.MolluskFree" class="form-check-res-input" id="Input_MolluskFree">
                    <label asp-for="Input.MolluskFree" class="form-check-res-label btn btn-profile">Mollusk-Free</label>
                    <span asp-validation-for="Input.MolluskFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.MustardFree" class="form-check-res-input" id="Input_MustardFree">
                    <label asp-for="Input.MustardFree" class="form-check-res-label btn btn-profile">Mustard-Free</label>
                    <span asp-validation-for="Input.MustardFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.Paleo" class="form-check-res-input" id="Input_Paleo">
                    <label asp-for="Input.Paleo" class="form-check-res-label btn btn-profile">Paleo</label>
                    <span asp-validation-for="Input.Paleo" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.PeanutFree" class="form-check-res-input" id="Input_PeanutFree">
                    <label asp-for="Input.PeanutFree" class="form-check-res-label btn btn-profile">Peanut-Free</label>
                    <span asp-validation-for="Input.PeanutFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.Pescatarian" class="form-check-res-input" id="Input_Pescatarian">
                    <label asp-for="Input.Pescatarian" class="form-check-res-label btn btn-profile">Pescatarian</label>
                    <span asp-validation-for="Input.Pescatarian" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.PorkFree" class="form-check-res-input" id="Input_PorkFree">
                    <label asp-for="Input.PorkFree" class="form-check-res-label btn btn-profile">Pork-Free</label>
                    <span asp-validation-for="Input.PorkFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.RedMeatFree" class="form-check-res-input" id="Input_RedMeatFree">
                    <label asp-for="Input.RedMeatFree" class="form-check-res-label btn btn-profile">Red Meat-Free</label>
                    <span asp-validation-for="Input.RedMeatFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.SesameFree" class="form-check-res-input" id="Input_SesameFree">
                    <label asp-for="Input.SesameFree" class="form-check-res-label btn btn-profile">Sesame-Free</label>
                    <span asp-validation-for="Input.SesameFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.ShellfishFree" class="form-check-res-input" id="Input_ShellfishFree">
                    <label asp-for="Input.ShellfishFree" class="form-check-res-label btn btn-profile">Shellfish-Free</label>
                    <span asp-validation-for="Input.ShellfishFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.SoyFree" class="form-check-res-input" id="Input_SoyFree">
                    <label asp-for="Input.SoyFree" class="form-check-res-label btn btn-profile">Soy-Free</label>
                    <span asp-validation-for="Input.SoyFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.TreeNutFree" class="form-check-res-input" id="Input_TreeNutFree">
                    <label asp-for="Input.TreeNutFree" class="form-check-res-label btn btn-profile">Tree Nut-Free</label>
                    <span asp-validation-for="Input.TreeNutFree" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.Vegan" class="form-check-res-input" id="Input_Vegan">
                    <label asp-for="Input.Vegan" class="form-check-res-label btn btn-profile">Vegan</label>
                    <span asp-validation-for="Input.Vegan" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.Vegetarian" class="form-check-res-input" id="Input_Vegetarian">
                    <label asp-for="Input.Vegetarian" class="form-check-res-label btn btn-profile">Vegetarian</label>
                    <span asp-validation-for="Input.Vegetarian" class="text-danger-custom"></span>
                </div>

                <div class="form-check-res mb-3">
                    <input type="checkbox" asp-for="Input.WheatFree" class="form-check-res-input" id="Input_WheatFree">
                    <label asp-for="Input.WheatFree" class="form-check-res-label btn btn-profile">Wheat-Free</label>
                    <span asp-validation-for="Input.WheatFree" class="text-danger-custom"></span>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg profile-btn">Save</button>
        </form>
        <a class="profile-link" asp-page="Profile">Return to your Profile</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/EditRestrictions.js"></script>
}