@model CulturNary.Web.Models.AiResponse
@{
    ViewData["Title"] = "AI Assistant";
}

<br>
<h2>AI Assistant</h2>
<br>

<div class="row">
    <div class="col-6 my-5">
        <h3>Image Recognition: Upload an Image</h3>
        <p>Instructions: Selecting an uploading an image on its own will inform you what kind of food you are looking at, and what ingredients it is composed of.</p>
        <p>Optionally, you can provide your Zip Code to instead get a price estimate for the ingredients based on your location. On the right, you can access your device's camera to take a picture and upload it.</p>
        <form asp-action="AiAssistant" method="post" enctype="multipart/form-data" id="imageForm">
            <div>
                <label for="file">Select Image:</label>
                <input type="file" name="file" id="file" accept="image/*"/>
            </div>
            <br>
            <div>
                <label for ="zipCode">To get price information, input Zip Code</label>
                <input type="text" name="zipCode" id="zipCode" placeholder=""/>
            </div>
            <button class="profile-btn" id="uploadButton1" type="submit">Upload</button>
        </form>
    </div>
    <div class="col-6 my-5">
        <h3>Image Recognition: Capture an Image</h3>
        <button class="profile-btn" id="startCameraButton">Start Camera</button>
        <video id="video" width="720" height="480" style="display:none;" autoplay></video>
        <button class="profile-btn" id="captureButton" style="display:none;">Capture Image</button>
        <canvas id="canvas" width="720" height="480" style="display:none;"></canvas>
        <button class="profile-btn" id="uploadButton2" style="display:none;">Upload Image</button>
        <div id="preview"></div>
    </div>
</div>

<br>

<div class="row"
    <div class="col-6">
        <h3>Recipe Checker</h3>
        <p>Instructions: Provide the link to a recipe, and we will let you know if it contains ingredients that conflict with the dietary restrictions listed on your profile.</p>
    
        <form asp-action="AiAssistantText" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="recipeURL">Recipe Link:</label>
                <input type="text" id="recipeURL" name="recipeURL">
            </div>
            <br>
            <button type="submit" id="recipeURLSubmit" class="profile-btn">Submit</button>
        </form>

    </div>

    <br>

<div class="row">
    <div class="col-6" id="aiImage">
        @if(Model != null && Model.imageUrl != null)
        {
            <h3>Submitted Image:</h3>
            <img src="@Model.imageUrl" alt="Uploaded Image" style="width:50%;"/>
        }
    </div>

    
    <div class="col-6 align-items-center my-5" id="aiContent">
        @if (Model != null && Model.response != null){ 
            <h3>AI Response:</h3>
            <p id="modelResponse" style="white-space: pre-line">@Model.response.Choices[0].Message.Content</p>
        }
    </div>
</div>
<script src="~/js/ImageRecognition.js"></script>